{% assign optional_readings = page.readings | where: "optional", 1 %}
{% assign required_readings = page.readings | where_exp: "item", "item.optional == nil" %}
{% if page.reading_notes %}
    <p>{{ page.reading_notes }}</p>
{% endif %}
{% if required_readings.first %}
    {% if include.show_headings and optional_readings.first %}<h3>Required</h3>{% endif %}
    <ul class="readings">
    {% for item in required_readings %}
        {% include reading.html %} 
    {% endfor %}
    </ul>
{% endif %}

{% if optional_readings.first %}
{% if include.show_headings %}
    <h3>Optional</h3>
{% elsif required_readings.first %}
    <br>
{% endif %}
    <p>The following readings are recommended for additional context:</p>
    <ul class="readings">
    {% for item in optional_readings %}
        {% include reading.html %} 
    {% endfor %}
    </ul>
{% endif %}